<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="calls" connectionString="server=170.10.163.13;user id=ccom_php_ml;persistsecurityinfo=True;database=ccom_php_ml;allowuservariables=True;allowbatch=True" providerName="System.Data.SqlClient" />
  </connectionStrings>   
  
</configuration>